@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input--primary {
    @apply text-right font-light py-1 px-2 outline-none ring-0 rounded-md w-full border-0.5
    border-gray-300 hover:border-gray-500 focus:border-primary font-outfit
    transition-all;
  }

  .input--secondary {
    @apply font-light py-1 px-2 outline-none ring-0 rounded-md w-full cursor-pointer 
    text-right border-0.5 border-gray-200 border-opacity-0 hover:border-opacity-100 
    focus:border-gray-300 text-gray-500 font-outfit transition-all;
  }

  .input--tertiary {
    @apply font-light py-1 px-2 outline-none ring-0 rounded-md w-full cursor-pointer 
    text-left border-0 bg-white bg-opacity-0 hover:bg-opacity-10
    font-outfit text-white transition-all;
  }

  .button--primary {
    @apply py-1 px-2 outline-none ring-0 rounded-md
    bg-primary hover:bg-secondary text-light transition-all;
  }

  .button--secondary {
    @apply py-1 px-2 outline-none ring-0 rounded-sm
    text-primary hover:text-secondary bg-opacity-0 transition-all;
  }

  .button--logo {
    @apply bg-gray-100 hover:bg-gray-200 
    border-gray-200 border-0.5 w-48 h-32 transition-all;
  }

  .textarea--primary {
    @apply input--primary text-left resize-none overflow-y-hidden
  }

  .item--row {
    @apply grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6
  }

  .item--data--description {
    @apply md:col-span-2 lg:col-span-3
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}
